In [48]:
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
trial_data = pd.read_csv('Resources/clinicaltrial_data.csv', low_memory=False)
mouse_data = pd.read_csv('Resources/mouse_drug_data.csv', low_memory=False)

In [51]:
# g989 Stelasyn and Propriva

In [54]:
mousedrug = {}
drug = []
counter = 0
for i in mouse_data['Mouse ID']:
    mousedrug[i] = mouse_data['Drug'][counter]
    counter += 1
for i in trial_data['Mouse ID']:
    if i in mousedrug:
        drug.append(mousedrug[i])
len(drug)
trial_data = trial_data.assign(Drug= drug)
trial_data.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

In [58]:
druggroup = trial_data.groupby(['Drug', 'Timepoint'])
tumor_time_metast = druggroup.mean()
tumor_time_metast.head()

                     Tumor Volume (mm3)  Metastatic Sites
Drug      Timepoint
Capomulin 0                   45.000000          0.000000
          5                   44.266086          0.160000
          10                  43.084291          0.320000
          15                  42.064317          0.375000
          20                  40.716325          0.652174